.DS_Store
.vscode

node_modules
/packages/pglite/dist
/packages/pglite/pgdata-test
/packages/pglite/package-lock.json
/packages/**/dist
/build
/postgresql-*.tar.bz2
/postgresql-*
/postgresql

/patches/imports/*
/patches/exports/pgcore.wasm-objdump

docs/.vitepress/dist
docs/.vitepress/cache

# Local test logs
packages/pglite/tests/crash-safety/*.log
prompt_history.txt
